header {
    font-family: 'Inter', serif;
}
body {
    font-family: 'Montserrat', serif;
}
/* Fonts above */

nav {
    opacity: .95;
}

/* completed is for any task that has been completed, it will grey it out and strike it out */
.completed {
    text-decoration: line-through;
    background-color: #828181;
}

/* we cant use the same hover system for the completed tasks because bootstap freaks out and makes it wonky so i made this */
.completed:hover {
    background-color: #707070;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header-logo img {
    height: 100px;
  }
 
 body {
    height: auto;
    background-color: #b68af6; /* For browsers that do not support gradients */
    background-image: linear-gradient( #FFF176,#b68af6, #002bc3);
